behave
conan
deprecation<2.1 # Specify version for conan
Jinja2
jsonschema
lark-parser
numpy
pytest
pytest-cov
PyYAML
six<=1.14.0 # Specify version for conan
Sphinx>=3
sphinx-argparse
sphinx-jsonschema
sphinx_rtd_theme
